.container{
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: #a4b1f9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.container > div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

h2{
    text-transform: uppercase;
    font-size: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 82%);
    width: 100vw;
    text-align: center;
    margin-inline: 0px;
}

@media (max-width:500px) {
    h2{
        text-transform: uppercase;
        font-size: 30px;
        clip-path: polygon(0 0, 100% 0, 100% 82%, 0 82%);
        width: 100vw;
        text-align: center;
    }
}