*{
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: #a4b1f9;
    /* background-color: rgb(80, 80, 80); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    position: relative;
    overflow: hidden;
}
/* 
.card{
    height: 200px;
    width: 300px;
 background-image: url('/card_img.png');
 background-position: center;
 background-size: cover;
 scale: 1.5;
} */


.card {
    position: relative;
    width: 630px;
    height: 420px;
    /* border: 10px solid #F5EFDD; */
    margin: 0px auto 0 auto;
    /* box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1); */
    background-color: #ffffff;
}
.card .text-container {
    color: #CC3D3C;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #F5EFDD;
    background-color: #fff;
}
.strikethrough {
    text-decoration: line-through;
}
.card .text-container #head {
    font-family: 'Nobile', sans-serif;
    font-size: 1.5em;
    margin: 0px;
    /* margin: 60px auto 60px auto; */
}
.card p {
    font-size: 1.1em;
    line-height: 1.4;
  font-family: "Nunito", sans-serif;
  /* font-family: 'Nobile'; */
    /* color: #331717; */
    /* font-style: italic; */
    text-align: justify;
    margin: 9px 15px;
}

.card p.ending{
 text-align: right;
 margin-block: 2px;
}

.card .front {
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin-top: 10px; */
    margin: 0px;
    /* border: 10px solid #ffffff; */
    backface-visibility: hidden;
    /* background-color: #9612eb; */
   /* background-image: url($cover-image);
    */
    background-size: contain;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    /* transform: perspective(1300px) rotateX(-160deg); */
    transform: perspective(1300px) rotateX(0deg);
    transition: all 0.8s ease-in-out;
}
.card:hover .front {
    transform: perspective(1300px) rotateX(-180deg);
    background-color: #ffffff;
}
.card:hover .back {
    transform: perspective(1300px) rotateX(-180deg);
    /* box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1); */
    background-color: #dcd2d5;
}
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 10px solid #f56f75; */
    /* border: 10px solid #ffffff; */
    /* margin-top: 10px; */
    margin: 0px;
    backface-visibility: visible;
    /* filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5)); */
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    /* transform: perspective(1300px) rotateX(-160deg); */
    transform: perspective(1300px) rotateX(0deg);
    transition: all 0.8s ease-in-out;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1); */
}

.imgset
{
 position: relative;
 z-index: 1;
 /* margin-bottom: -215px; */
}

 /*  .imgset img{
   box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22); 
    border-radius: 5px;  
    padding-inline: 10px;
}*/
   
@media (max-width:700px) {
    .card{
        /* scale: 0.6; */
        /* width: 210px;
        height: 140px; */
        width: 305px;
        height: 204px;
    }

    .card p{
        font-size: 13px;
        z-index: 3;
    }
}